<!doctype html>
<html lang ='en'>
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello World</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
<header>
    <nav class='navbar' role="navigation">
        <div class="navbar-brand">
            <a class ='navbar-item' href="http://breathevitality.net">
                <img src="{% static 'pages_app/images/logo.png' %}" alt='breate vitality logo'>
            </a>
            <a class ="navbar-item" href="{% url 'home' %}"> Home</a>  
            <a class="navbar-item" href="{% url 'about' %}">about</a> 
        </div>
    </nav>
</header>
<body>
{% block content %}

{% endblock content %}
</body>

